{% extends 'base.html.twig' %}

{% block title 'Agence MDW' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence MozartsDuWeb</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque finibus neque et volutpat. Pellentesque dictum et eros at eleifend. Aliquam mattis lacus purus.</p>
</div>
{% endblock %}